.Footer {
  display: flex;
  background-color: #333;
  height: 36px;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
}

.Footer p {
  margin: 0;
}

.Copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: white;
}