<select (change)="onCategoryChange($event.target)">
  <option value="">All Categories</option>
  <option *ngFor="let category of uniqueCategories" [value]="">{{category}}</option>
</select>

<div style="width: 100%; max-height: 700px;">
  <div class="ProductList">
    <ng-container *ngFor="let product of ProductList">
      <div class="product-item" *ngIf="product.category == selectedCategory || selectedCategory == ''">
      <!-- <div class="product-id">SL.NO: {{product.id}}</div> -->
      <div class="product-name"> {{product.name}}</div>
      <div class="product-description"> {{product.description}}</div>
      <div class="product-price">Price: {{product.price}}</div>
      </div>
    </ng-container>
  </div>
</div>
