<!-- Search bar -->
<div class="topcontainer" style="display: flex;">

  <div class="search-container">
    <div class="inputs" style="display: flex;">
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearch($event)" placeholder="Search products..."
        class="search-input">
      <button
        style="width: 100px; height: 30px; color: red; border:none; border-radius: 5px;margin-left: 8px; margin-top:12px;"
        (click)="clearSearch()">Clear</button>
    </div>

    <div class="suggestions" *ngIf="showSuggestions && filteredProducts.length > 0">
      <div class="suggestion-item" *ngFor="let product of filteredProducts" (click)="selectProduct(product)">
        {{product.name}}
      </div>
    </div>
  </div>

  <!-- Price Range Filter -->
  <div class="price-filter" style="margin: 20px;">
    <label>Price Range: ₹{{minPrice}} - ₹{{maxPrice}}</label>
    <input type="range" [(ngModel)]="selectedPrice" [min]="50" [max]="maxAvailablePrice" (input)="onPriceChange($event)"
      style="width: 200px; margin-left: 10px;">
  </div>
  <select (change)="onCategoryChange($event.target)">
    <option value="">All Categories</option>
    <option *ngFor="let category of uniqueCategories" [value]="category">{{category}}</option>
  </select>
</div>

<!-- Product List Container -->
<div class="product-container" style="height: calc(100vh - 150px); overflow: hidden;">
  <div class="ProductList" style="height: 100%; overflow-y: auto; padding: 16px;">
    <div style="display: flex; flex-wrap: wrap; gap: 16px;">
      <ng-container *ngFor="let product of filteredProducts">
        <div class="product-item" style="width: 300px; margin-bottom: 16px;" *ngIf="product.category === selectedCategory || selectedCategory === ''">
          <div class="product-name">{{product.name}}</div>
          <div class="product-description">{{product.description}}</div>
          <div class="product-price">Price: ₹{{product.price}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>